.search-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #0c4a6e;
  border-radius: 3px;
  gap: 1rem;
  padding: 2.5rem 1rem;
}

@media (max-width: 768px) {
  .search-form,
  .fields-container {
    flex-direction: column;
    width: auto;
  }
}

.fields-container {
  display: flex;
  gap: 1rem;
}

.fieldset {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.label {
  font-weight: 300;
}

.input {
  border: 1px solid #9ca3af;
  padding: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 3px;

  &:focus {
    border: 1px solid #3b82f6;
  }
}

.clear-button {
  color: white;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.5rem 1rem;
  background-color: #1d4ed8;
  border-radius: 3px;

  &:hover {
    background-color: #1e3a8a;
  }
}
